/**index.wxss**/
html{
  height: 100%;
  width: 100%;
  user-select:none;
}
body {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgb(245, 245, 245);
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
  flex-shrink: 0;
}

#navigationBar {
  flex-shrink: 0;
  FONT-WEIGHT: normal;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 44px;
  position: relative;
  border-bottom: 1px solid rgba(69, 181, 226, 0.1);
}

.container {
  width: 100%;
  position: absolute;
  top: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.buttons {
  flex-shrink: 0;
  margin-top: 20px;
  width: 93%;
  position: relative;
  z-index: 100;
}

.cycleButton {
  position: relative;
  left: 0;
  height: 60px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.cycleImage{
  position: absolute;
  top:16px;
  left:10px;
  height: 65px;
  width: 50px;
}

.cycleText{
  FONT-WEIGHT: 100;
  position: relative;
  margin-left: 40px;
}

.content2Container {
  height: 60px;
  width: 150px;
  position: absolute;
  right:0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.content2Container:active{
  height: 60px;
  width: 150px;
  position: absolute;
  right:0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: #cacaca;
}

.title {
  z-index: 10;
  font-family: PingFang SC;
  font-weight: 500;
  height: 25px;
  flex-shrink: 0;
  color: #000000;
  FONT-WEIGHT: normal;
  font-size: 14pt;
  margin-top: 30px;
  margin-left: 3.5%;
  margin-right: auto;
  left: 0;
}

.list{
  width: 100%;
  float: none;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.work {
  position: relative;
  min-height: 60px;
  z-index: 0;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #f0f0f0;
  width: 93%;
  height: 60px;
  flex-shrink:0;
  flex-direction: row;
  display: flex;
}

.textContainer {
  flex: 1 1 auto;
  height: 60px;
  top: 0;
  left: 0;
  position: relative;
  display: flex;
  flex-shrink:0;
  align-items: center;
  justify-content: center;
}

.workBlockTitle {
  position: absolute;
  FONT-WEIGHT: 100;
  z-index: 100;
  font-size: 14pt;
  left: 20px;
}

.workBottomLine {
  border-radius: 5px 5px 5px 5px;
  position: absolute;
  background: #45b9e5;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0%;
}

.workWholeLine {
  z-index: 0;
  border-radius: 5px;
  background: #b7e6f8;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
}

.controlContainer {
  flex: 0 0 auto;
  width: 60px;
}

.controlContainer:active {
  border-radius: 5px;
  background: #e2e2e2;
}

.control {
  position: absolute;
  width: 59px;
  margin: 10px 0px 10px 0px;
  top: 0;
  right: 0;
  height: 40px;
  border-left: 1px solid #00000017;
}

.controlImage {
  padding: 10px 20px 10px 20px;
  height: 20px;
  width: 20px;
  margin-right: 5px;
}